<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>O Mnie</h1>
    <p>
      Hey, jestem studentem PŁ i mam na imię Tomek,<br/>
      stworzyłem tą aplikacię w ramach nauki<br/>
      nad Ruby on Rails. 
    </p>
  </body>
</html>