<footer class="footer">
  <small>
    The FB_APP by Tomasz Walczak
  </small>
  <nav>
    <ul>
      <li><%= link_to "O Mnie",   about_path %></li>
      <li><%= link_to "Kontact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>